html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul,
ol,
li,
table,
th,
td,
span,
img,
dl,
dd,
dt,
input,
textarea,
button {
	border: medium none;
	padding: 0;
	margin: 0;
}

body {
	font-size: 20px;
	background: white;
}

.bigBanner {
	width: 80%;
	height: 400px;
	margin: 0 auto;
}

.bigBanner form {
	margin-top: 1rem;
}

.banner {
	width: 80%;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.banner form {
	height: 1.5rem;
}

.title {
	width: 100%;
	height: 20rem;
	background-image: url(../img/end.png);
	opacity: 1;
	box-shadow: 10px 12px 10px 0 rgba(0, 0, 0, 0.24);
	margin: 0 auto;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
	line-height: 20rem;
	cursor: pointer;
	font-size: 1.2rem;
	color: white;
}

.playControl{
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	float: left;
}

.bgPlay{
	background-image: url(../img/play.png);
	background-size: cover;
}

.bgStop{
	background-image: url(../img/stop.png);
	background-size: cover;
}

.rangeProcess {
	width: 15rem;
	vertical-align:middle;
}

.btnMusic1 {
	background-image: url(../img/play.png);
}

.banner2 {
	background-image: url(../img/firstlove.jpg);
}

.banner3 {
	background-image: url(../img/fuckSong.jpg);
}

.banner4 {
	background-image: url(../img/birdSong.png);
}

.banner5 {
	background-image: url(../img/disappearSong.png);
}

.title:hover {
	opacity: 0.7;
}

.player {
	position: absolute;
	left: 49rem;
	top: 32rem;
}

.musicName {
	position: absolute;
	left: 49rem;
	top: 30rem;
	color: red;
}